.products-container {
    position: relative;
    padding: var(--side-padding);


    .products-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;

        .product {
            display: flex;
            flex-direction: column;
            margin: 20px 10px;
            box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
            // box-shadow: 0px 0px 9px 11px rgba(43, 105, 251, 0.05);
            min-width: 270px;
            min-height: 330px;

            .product-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-inline: 10px;

                .product-price {
                    margin-bottom: 10px;
                    font-size: x-large;
                }
            }
        }
    }

    .product-notes {
          text-align: center;
          margin: 30px auto 20px auto; /* Spacing above and below */
          /* max-width: 600px; */
          padding: 0 15px;
          color: #333; /* Dark grey text */
        
          p {
            font-size: 1.1rem;
            margin-bottom: 10px;
            line-height: 1.5;
            
            strong {
              color: #3e373d; /* A Gold/Bronze color to match a 'keepsake' vibe - or use your brand color */
              font-weight: 700;
            }
         }
    }

    .product-button {
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;

        button {
            width: fit-content;
            border-radius: 50px;
            font-size: 20px;
            padding: 10px 15px;
            background-color: var(--theme-bg-color);
            color: var(--theme-text-color);
        }

        button:hover {
            background-color: var(--theme-text-color);
            color: var(--theme-bg-color);
            cursor: pointer;
        }
    }
    .products-list {

        .product {
            .product-image {
                img {
                    width: 290px;
                    height: 290px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .products-list {

        .product {
            .product-image {
                img {
                    width: 300px;
                }
            }
        }
    }
}
