.about-container {
    position: relative;
    padding: var(--side-padding);

}

.about-content {

    p {
        line-height: 1.5;
        margin: 20px 0;
        font-size: larger;
        text-align: justify;
    }
}