.about-container {
    position: relative;
    padding: 0vw 10vw;
    min-height: 80vh;
}

.about-content {

    p {
        line-height: 1.5;
        margin: 20px 0;
        font-size: larger;
        text-align: justify;
    }
}