.hidden-no-heigth {
    height: 0;
    // width: 100%;
    visibility: hidden;
    margin: 0;
}

.about-container {
    position: relative;
    padding: var(--side-padding);

}

.about-content {

    p {
        line-height: 1.5;
        margin: 20px 0;
        font-size: larger;
        text-align: justify;
    }
}