.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;

    .contact-form-container {
        position: relative;
        background-color: white;
        border: 2px solid #ccc; /* Border around the box */
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
        width: 50%;
        max-width: 800px;
        margin-inline: 10vw;
        padding: 40px;
        margin-bottom: 1.5em;

        .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            div {
                margin-bottom: 20px;

                label {
                    font-size: 1.2em;
                    margin-bottom: 10px;
                }

                input {
                    width: 100%;
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                }

                textarea {
                    width: 100%;
                    min-height: 50px;
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                }
            }

            button {
                width: 100px;
                padding: 10px 5px;
                border-radius: 10px;
                border: none;
                margin-top: 10px;
                background-color: var(--theme-bg-color);
                color: var(--theme-text-color);
                align-self: center;
            }

            button:hover {
                background-color: var(--theme-text-color);
                color: var(--theme-bg-color);
                cursor: pointer;
            }
        }
    }
}